
/*= Blog home ================= */

/** Blog home >> Ast builder grid row container **/
#ast-desktop-header .ast-builder-grid-row-container {
	height: 100px !important;
}

/** Blog home >> Menu link **/
#menu-item-94 .menu-link {
	padding-right: 10px !important;
}

/** Blog home >> Ast hf menu 1 **/
#ast-hf-menu-1 {
	font-size: 16px !important;
}

/** Blog home >> Menu link _2 **/
#menu-item-15 .menu-link {
	padding-right: 10px !important;
}

